/* styles.css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f1e0b6;
}

.navbar {
  background-color: #e8dab2;
  color: white;
  padding: 10px 20px;
}

.navbar-container {
  display: flex;
  justify-content: space-between; 
}
.navbar-container img {
  width: 7%;
}

.navbar-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.navbar-menu li {
  margin: 0 30px;
  margin: 20px;
  margin-right: 4x0px;
}

.navbar-menu a {
  color: white;
  text-decoration: none;
  padding: 8px 12px;
  display: block;
  font-size: 18px;
}

.navbar-menu a:hover {
  background-color: #6edd42b6;
  
}

.dropdown {
  position: relative;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #333;
  list-style: none;
  padding: 0;
  margin: 0;
}

.dropdown-menu li {
  margin: 0;
}

.dropdown-menu a {
  padding: 10px 15px;
  display: block;
}

.dropdown-menu a:hover {
  background-color: #575757;
}

.navbar-toggle {
  display: none;
  font-size: 24px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

/* Styles responsives */
@media (max-width: 768px) {
  .navbar-menu {
      display: none;
      flex-direction: column;
      width: 100%;
  }

  .navbar-menu.active {
      display: flex;
  }

  .navbar-toggle {
      display: block;
  }
}



/* Container Flexbox */
.container {
  display: flex;
  justify-content: space-between; /* Espace entre les éléments */
  align-items: flex-start; /* Aligner les éléments en haut */
  gap: 20px; /* Espacement entre la légende et la carte */
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Styling for the caption text */

.captionText {
  margin-left: 10px;
 margin-top: 90px;
  width: 40%; /* Largeur de la légende */
  text-align: left; /* Alignement du texte à gauche */
  padding: 10px; /* Espacement intérieur */
  background-color: #e8dab2; /* Couleur de fond douce */
  border-radius: 20px ; /* Coins arrondis */
  box-shadow:0px 2px 4px rgba(237, 101, 16, 0.998); /* Ombre légère */
}


/* Styling for the map container */
.map-container {
  width: 60%; /* Largeur de la carte */
}

#map {
  width: 100%; /* Prendre toute la largeur de la div parent */
  height: 400px; /* Hauteur de la carte */
  border-radius: 5px; /* Coins arrondis */
  box-shadow: 0px 2px 4px rgba(237, 101, 16, 0.998);/* Ombre légère */
}
@media (max-width: 600px) {
  .container{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .captionText{
    width: 80%;
  }
  #map{
    width: 100%;
  }
  .map-container {
    width: 80%; 
  }
}

/* css carde  */
.card-container{
  /* position: relative; */
   margin: 50px; 
   /* top:  40%; */
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

 .titre
{
 
  background-color: #e8dab2;
  color: white;
  padding: 10px;
  text-align: center;
}

.titre h3{
  text-align: center;
  font-size: 25px;
}
.card{
  
  width: 350px;
  background-color: #e8dab2;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0px 2px 4px rgba(237, 101, 16, 0.998);
  margin: 10px;
  
}
.card img{
  width: 100%;
  height: 400px;
  cursor: pointer;
}

.card-content{
  padding: 10px;
}
.card-content h3{
  font-size: 28px;
  margin-bottom: 8px;
  text-align: center;
}

/* Style pour la modal */
.modal {
 display: none;
 position: fixed;
 z-index: 1;
 padding-top: 100px;
 left: 0;
 top: 0;
 width: 100%;
 height: 100%;
 overflow: auto;
 background-color: rgba(0, 0, 0, 0.352);
}

.modal-content {
 margin: auto;
 display: block;
 width: 80%;
 max-width: 700px;
}

#caption {
 margin: auto;
 display: block;
 width: 80%;
 max-width: 700px;
 text-align: center;
 color: #ccc;
 padding: 10px 0;
 height: 150px;
}

.modal-content, #caption {
 animation-name: zoom;
 animation-duration: 0.6s;
}

@keyframes zoom {
 from {transform: scale(0)}
 to {transform: scale(1)}
}

.close {
 position: absolute;
 top: 15px;
 right: 35px;
 color: #161616;
 font-size: 40px;
 font-weight: bold;
 transition: 0.3s;
 
}

.close:hover,
.close:focus {
 color: #bbb;
 text-decoration: none;
 cursor: pointer;
}

.animate-on-scroll {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.animate-on-scroll.visible {
  opacity: 1;
  transform: translateY(0);
}

/* tableau */
.tabl{
  display: flex;
  justify-content: center;
  margin: 20px 0; 
}
table {
  width: 80%;
  /* border-collapse: collapse; */
}

th, td {
  border: 1px solid #d1ac9db6;
  padding: 8px;
  text-align: left;
}
.element{
  font-size: 20px;
}

th {
  background-color: #e8dab2;
  color:  white;
  text-align: center;
}


/* Style du conteneur du popup */
.popup-content {
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 8px;
  max-width: 250px;
}

/* Style pour le label du popup */
.popup-label {
  line-height: 1.7;
  font-size: 14px;
  color: #333;
}

/* Centrage du bouton dans le popup */
.popup-button-container {
  text-align: center;
  margin-top: 10px;
}

/* Style du bouton */
.redirectButton {
  display: inline-block;
  width: 100%;
  padding: 8px;
  /* background-color: #007bff; */
  background-color: #35f180;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.redirectButton:hover {
  background-color: #35f180a5;
}
footer{
  display: flex;
  flex-wrap: wrap;
  margin-top: auto;
  background-color: #2d2e33;
  padding: 60px 10%;
}

ul{
  list-style: none;
}

.footer-col{
  width: 25%;
}

.footer-col h4{
  position: relative;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 22px;
  color: #f1bc0d;
  text-transform: capitalize;
}

.footer-col h4::before{
  content: '';
  position: absolute;
  left: 0;
  bottom: -6px;
  background-color: #27c0ac;
  height: 2px;
  width: 40px;
}

ul li:not(:last-child){
  margin-bottom: 8px;
}

ul li a{
  display: block;
  font-size: 19px;
  text-transform: capitalize;
  color: #bdb6b6;
  text-decoration: none;
  transition: 0.4s;
}

ul li a:hover{
  color: white;
  padding-left: 2px;
}

.links a{
  display: inline-block;
  height: 44px;
  width: 44px;
  color: white;
  background-color: rgba(40, 130, 214, 0.8);
  margin: 0 8px 8px 0;
  text-align: center;
  line-height: 44px;
  border-radius: 50%;
  transition: 0.4s;
}

.links a:hover{
  color: #4d4f55;
  background-color: white;
}

@media(max-width: 740px){
  .footer-col{
      width: 50%;
      margin-bottom: 30px;
      text-align: center;
  }

  .footer-col h4::before{
      all: unset;
  }
}

@media(max-width: 555px){
  .footer-col{
      width: 100%;
  }
}
